#ticker {
  height: 50px;
  text-align: center;
  border: 1px solid #D3D3D3;
}

#sportsticker p {
  width: 100%;
  text-align: center;
  border: 1px solid #D3D3D3;
}

.cmp-layoutcontainer--header {
  padding-bottom: 0;
  padding-top: 0;
}

#hublife-landing-columns {
  display: flex;
  justify-content: space-between;
}

#hero {
  height: 400px;
  text-align: center;
  padding-top: 150px;
  border: 1px solid #D3D3D3;
}


#copy p {
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid #D3D3D3;
}

#register p {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid #D3D3D3;
}

#quiz {
  height: 300px;
  text-align: center;
  padding-top: 150px;
  border: 1px solid #D3D3D3;
}




